body {
	background: #eee;
}

/* Logo */
.project-logo {
    margin: 0 auto;
    width: fit-content;
}

.project-logo ul li {
  	position: relative;
	padding-bottom: 10px;
}

.project-logo ul {
	list-style: none;
}

.project-logo ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid #be007b;
   border-bottom:2px solid #be007b;
   width:10px;
   height:10px;
   top: calc(50% - 4px);
   left: -20px;
   transform: translateY(-50%) rotate(-45deg);
}

/* List Businesses */
table.list-businesses {
	width: 100%;
	margin: 50px;
	margin-top: 10px;
}

table.list-businesses tr {
	background: white;
}

table.list-businesses tr:hover {
	background: #f6f6f6;
}

table.list-businesses, 
table.list-businesses th,
table.list-businesses td {
	border: 3px solid #eee;
	border-collapse: collapse;
	padding: 15px;
}

table.list-businesses thead tr {
	text-align: left;
	color: #be007b;
	text-transform: uppercase;
}

table.list-businesses tbody tr {
	color: black;
}

table.list-businesses tbody tr a {
	color: black;
	text-decoration: none;
}

/* View Business */
.view-bussiness {
	width: 80%;
	margin: 0 auto;
}

.view-bussiness .bussiness-image {
    display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
}

.view-bussiness .item-info-container {
	display: grid;
	grid-template-columns: 25% 25% 50%;
}

.view-bussiness .item-info-container > div {
	padding: 30px;
	padding-top: 0;
}

/* Nearby Places */
.view-bussiness .nearby-places {
	background: white;
}

table.list-nearby-businesses tr {
	background: #f8f8f8;
}

table.list-nearby-businesses  {
	border-collapse: collapse;
}

table.list-nearby-businesses td {
	border: 3px solid white;
	border-collapse: collapse;
	border-left: none;
	border-right: none;
}

table.list-nearby-businesses td {
	padding: 10px;
}

/* Pagination */
.pagination {
	margin-left: 50px;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #20a8d8;
	background-color: #fff;
	border: 1px solid #c8ced3;
	text-decoration: none;
}

.page-link:hover {
	z-index: 2;
	color: #167495;
	text-decoration: none;
	background-color: #e4e7ea;
	border-color: #c8ced3;
}

.page-link:focus {
	z-index: 2;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #20a8d8;
	border-color: #20a8d8;
}

.page-item.disabled .page-link {
	color: #73818f;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #c8ced3;
}
